@model Tasker.Web.ViewModels.TasksListViewModel


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@Model.CurrentProject.ProjectName</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>


<h2>Listado de tareas</h2>

<a asp-action="New" asp-route-projectId="@Model.CurrentProject.ProjectId">Nueva Tarea</a>

<br /><br />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre de la tarea</td>
            <td>Descripcion de la tarea</td>
            <td>Estado</td>
            <td>Creador</td>
            <td>Responsables</td>
            <td>Fecha de vencimiento</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        <!--C# Razor-->
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>@task.MyTaskId</td>
                <td>@task.Name</td>
                <td>@task.Description</td>
                <td>@(task.IsCompleted ? "Completada en " + task.CompletedDate : "Pendiente")</td>
                <td>@task.CreatedBy.FirstName</td>
                <td>
                    <ul>
                        @foreach (var person in task.AssignedPerson)
                        {
                            <li>@person.Person.FirstName</li>
                        }
                    </ul>
                </td>
                <td>@task.DueDate.ToString()</td>
                <td>
                    <a asp-action="View" asp-controller="Task" asp-route-id="@task.MyTaskId" class="btn btn-success">Ver detalle</a>

                    <a asp-action="Edit" asp-controller="Task" asp-route-id="@task.MyTaskId" class="btn btn-warning">Editar</a>

                    <a asp-action="Delete" asp-controller="Task" asp-route-id="@task.MyTaskId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

